.favorites-list
{
    display: flex;
    gap: 5%;
    margin: 0% 5%;
}
.fav-h
{
    font-family: cursive;
    font-size: 25px;
}
.fav-title
{
    font-size: 20px;
}
.fav-img
{
    height: 190px;
    width:190px;
}
.rem-btn
{
    color: red;
    font-family: cursive;
    border: none;
    font-size:16px;
    background: transparent;
}
.rem-btn:hover
{
    cursor: pointer;
    color: black;
}