@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Metal+Mania&family=Norican&family=Pangolin&family=Rye&display=swap');

body {
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}
.home_div1{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
    display: flex;
    justify-content:left;
    position: relative;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 100%;
    animation: background-slide 10s ease-in-out infinite alternate; 
}
.home-div1 .title
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home_div1.dark
{
    background-image: none;
    background-color: #212020;
    z-index: 3000;
}
@keyframes background-slide {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.Home1
{
    width: 50%;
    height: 100vh;
    padding: 7% 0%;
    text-align: center;
}
.Home2
{
    width: 50%;
    height: 100vh;
    padding: 10% 10%;
    text-align: center;
}
.Home-img
{
    width: 600px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 20px;
}

.home-h1, .Comics {
    padding: 0 0;
    /* color: rgb(255, 0, 0); */
    font-size: 50px;
    animation: text-bounce 1.5s infinite;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}
.div2-h1
{
    text-align: center;
    color: red;
    margin:0% 10%;
}
.Comics {
    padding: 0 0;
    color: red;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}
.home-h1::first-letter {
    color: red;
}
.doddle-btn
{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border:none;
    border-radius: 10px;
    padding: 1% 3%;
    background-color: rgb(32, 112, 144);
}
.doddle-btn:hover
{
    border: 1px solid black;
    cursor: pointer;
    color: red;
    background-color: white;
}

@keyframes text-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.home-div3
{
    text-align: center;
}
.p3, .p5 {
    font-size: 24px;
    color: #007BFF;
    margin: 20px 0;
}

.p3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.home-div2 {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    margin: 5% 3%;
}
.home-div2::-webkit-scrollbar
{
    display: none;
}
.home-div2-content
{
    width: 45%;
    margin: 10% 2%;
}
.home-div2 h1
{
    color: red;
}
.video-container {
    position: relative;
    width: 40%;
    height: 400px;
    margin: 2% 5%;
    padding: 0 2%;
}

.video-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    width: 50px;
    margin: 0 1%;
    font-size: 24px;
    border-radius: 50%;
}

.video-btn.left {
    left: -5%;
}

.video-btn.right {
    right: -5%;
}

.video-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.story-card {
    text-align: center;
    background-size: cover;
    cursor: pointer;
    min-width: 150px;
    min-height: 250px;
    margin-left: 30px;
    padding-right: 120px;
    border-radius: 15px;
}
.story-card:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.story-card h2 {
    margin-top: 10px;
    font-size: 24px;
    color: #333;
    max-height: 50px;
    max-width: fit-content;
}
.personalize-btn {
    background-color: #414142;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    outline: none;
    margin-bottom: 15px;
}

.personalize-btn:hover {
    background-color: red;
    color: white;
    transform: translateY(-2px);
}

.p1, .p2 {
    text-align: center;
}

.p1 {
    font-size: 24px;
    margin-top: 30px;
}

.p2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0)F;
    }
    50% {
        transform: translateY(-5px);
    }
}
.story-card-div
{
    display: flex;
    gap: 20px;
}
.Explore-Home h1
{
    color: red;
}
.Explore-Home p
{
    color: black;
    font-size: 20px;
}

.impact-section {
    position: relative;
    background-image: url('../../assets/Home-images/home_image4.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: -1px auto;
    margin-bottom: -1px;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .impact-content {
    text-align: center;
  }
  
  .impact-stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    color: white;
  }
  
  .stat {
    text-align: center;
  }
  
  .stat h2 {
    margin: 0;
    font-size: 2em;
  }
  
  .stat p {
    margin: 5px 0 0;
    font-size: 1.2em;
  }
  
  .popular {
    margin-top: -1px;
    text-align: center;
    background-color: #d2db96;
    padding: 20px;
  }
  
  .popular h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
.home-div4
{
    width: 100%;
    text-align: center;
    height: 10%;
    display: flex;
    margin: 1% 2%;
    padding: 0 7%;
    justify-content: center;
}
.home-div4-content p.dark
{
    color: white;
}
.home-div2-content p.dark
{
    color: white;
}
.Explore-Home p.dark
{
    color: white;
}
.home-div4 .anime
{
    min-width:300px;
    height:300px;
    background-image: url('../../assets/Home-images/anime.png');
    background-size: contain;
    margin: 2% 0%;
}
.home-div4 .home-div4-content
{
    width: 70%;
    padding: 5% 5%;
}
.home-div4 h1
{
    color: red;
}
.home-div2-content p
{
    font-size: 20px;
}
.home-div4 p
{
    font-size: 20px;
}
.title.dark
{
    color: white;
}
.home-h1.dark
{
    color: white;
}
.prev-btn,.nxt-btn
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid black;
}
.prev-btn:hover,.nxt-btn:hover
{
    cursor: pointer;
}
.prev-btn
{
    margin: 10% 1%;
}
.nxt-btn
{
    margin: 9.5% -2%;
}
@media screen and (max-width:360px) 
{
    .home_div1{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .home-div1 .dark
    {
        background-image: none;
        background-color: 212020;
    }
    .Home1
    {
        width: 100%;
        height: fit-content;
    }
    .Home1 h1
    {
        font-size: 36px;
    }
    .Home2
    {
        height: fit-content;
        width: 100%;
        padding: 0% 4%;
    }
    .Home-img
    {
        width: 90%;
        background-size: contain;
    }
    .home-div2
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .home-div4
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .anime
    {
        width: 100%;
    }
    .home-div4 .home-div4-content{
        width: 100%;
        text-align: center;
        padding: 0% 1%;
    }
    .home-div2{
        width: 100%;
    }
    .home-div2 .home-div2-content
    {
        width: 100%;
        height: fit-content;
    }
    .video-container
    {
        width: 90%;
    }
    .video-btn.left{
        left: 1%;
    }
    .video-btn.right{
        right: 3%;
    }
    .impact-section
    {
        width: 100%;
    }
    .impact-content
    {
        font-size: 13px;
    }
}