.main-content {
    margin-top: 70px; 
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Arial, sans-serif;
    display: block;
    z-index: 2000;
    overflow-x: hidden;
}
